<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.phonegap.plugins.sb.moodstocks"
  version="1.0.0">

  <name>Moodstocks</name>

  <asset src="www/MoodstocksPlugin.js" target="js" />

  <!-- ios -->
  <platform name="ios">
    <plugins-plist key="MoodstocksPlugin" string="MoodstocksPlugin" />

    <!-- Cordova >= 2.5 -->
    <config-file target="config.xml" parent="/cordova/plugins">
      <plugin name="MoodstocksPlugin" value="MoodstocksPlugin"/>
    </config-file>
    
    <!--              -->
    <!-- plugin files -->
    <!--              -->
    <source-file src="MoodstocksPlugin.m" />
    <header-file src="MoodstocksPlugin.h" />
    
    <source-file src="MSActivityView.m" />
    <header-file src="MSActivityView.h" />
    
    <source-file src="MSOverlayView.m" />
    <header-file src="MSOverlayView.h" />
    
    <source-file src="MSScannerController.m" />
    <header-file src="MSScannerController.h" />


    <framework src="AVFoundation.framework" />
    <framework src="CoreMedia.framework" />
    <framework src="CoreVideo.framework" />
    <framework src="QuartzCore.framework" />

  </platform>

</plugin>